h1{
	font-family: 'My Soul', cursive;
	font-size: 3rem;
	margin: 3% 0 2% 2%;
	
}

body{
	background-color: #6969ff;
}

header{
	background-color: #6969ff;
}

h3{
	font-family: 'Josefin Sans', sans-serif;
	margin: 1% 0 1% 0;
	font-size: larger;
}

textarea{
	margin: 0 0 1% 0;
	font-family: 'Anek Odia', sans-serif;
	width: 90%;
	background: #cfcdcc;
	border-radius: 15px;
	outline: 0;
	padding: 1%;
}

textarea:hover{
	outline: solid 3px whitesmoke;
}

footer{
	bottom: 10px;
	
}

p{
	text-align: left;
	margin: 5% auto 0 auto;
	color:white;
	font-family: 'Josefin Sans', sans-serif;
}

button{
	margin-left: 20px;
	margin-bottom: 2%;
	border: none !important; 
	/* box-shadow: 0 0 0 0; */
	outline: 0;
}

img{
	height: 60%;
	width: 60%;
	border-radius: 50px;
	border: solid 1px black;
	margin-top: 20px;
}

.w3-row{
	background-color: #8d8de6;
}

.w3-col{
	padding: 0 2% 0 2%;
}

.footer{
	text-align: center;
	font-size: 15px;
}
.painel{
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	padding: 0% 2% 2% 2%;
	margin-top: 0%;
	margin-left: 1%;
}

.area-trabalho{
	padding: 0 0 0 2%;
}

.invisivel{
	opacity: 0;
}

.borda-laranja{
	border: solid 3px #ff9800;
}





/* 
font-family: 'Anek Odia', sans-serif;
font-family: 'Fredoka One', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'My Soul', cursive;
font-family: 'Shadows Into Light', cursive;
*/