
body{
    
    width: 1340px;
    margin: 0 auto !important;
}

h4{
    font-size: 100px;
    font-family: 'Teko', sans-serif; 
    color: #F6F54D;
    text-shadow: -3px -3px red; 
}

p{
    font-size: 50px;
    font-family: 'Teko', sans-serif;
    color: #F6F54D;
    text-shadow: -3px -3px red;
}

input, select, label{
    font-family: 'Orbitron', sans-serif;
    font-size: 26px;    
}

label{
    color: grey;
    font-weight: bolder;
    text-shadow: -2px -2px white; 
    font-size: 30px;
}

select{
    color: grey;
}

form{
    background-image: url(../img/metalic.jpg);
    background-size: cover;
    margin: 60px auto;
    height: 140px;
    width: 1200px;
    text-align: center;
}

table{
    /* border-spacing:40px; */
    text-align: left;
}

th{
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    /* text-align: center; */
    /* margin-bottom: 15px; */
    padding-top: 5px;
    font-weight: bolder;

}

tr{
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
}

td{
    padding-right: 10px;
}

footer{
    background-image: url("../img/footer.jpg");
    height: 519px;
    width: 1340px;
}

span{
    font-size: 40px;
    margin-left: 30px;
}

/* .selector{
    position: relative;
    z-index: -1;
    width: 60px;
} */

.selector {
    position: relative;
    width: 300px;
    height: 300px;
    left: -50px;
    display: hidden;
}

.page-body{
    background-image: url("../img/chain.png"); 
}

.card{
    width: 205px;
    height: 444px;
    background-color: white;
    box-shadow: 10px 10px 10px grey, -10px -10px 10px grey;
}

.card:hover{
    background-color: rgb(251, 255, 4);
    transform: rotate(-10deg);
}


.card:hover::before{
    content: url("../img/light.png");
    position: absolute;
    left: -30%;
    top: -10%;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
    
}


.card-image{
    width: 205px;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    gap: 65px;
    padding: 30px 151px;
    align-content: space-around;
    justify-content: center;
}

.grid-item{
    padding: 2%;
}



.header-text{
    z-index: 2;
    top: 5%;
    position: relative;
    top: -208px;
}

.cabecalho{
    text-align: center;
    background-image: url(../img/bg.jpg);
    z-index: 0;
    position: relative;
    width: 1340px;
    height: 264px;

}

.mask{
    width: 300px;
    height: 200px;
    position: relative;
    top: auto;
    left: auto;
    margin: 2% 0;
    text-align: center;
    z-index: 1;
    opacity: 0.3;
}

#p-footer{
    font-family: 'Orbitron', sans-serif;
    text-shadow: -3px 3px rgb(90 92 2), -6px 6px rgb(3 36 73);
    color: #ffff;
    position: relative;
    top: 280px;
    font-size: 20px;
}

#form-id{
    padding: 2% auto;
}

#inner-form{
    padding: 50px 0px;
    align-content: center;
    width: 1200px;
}

#add:hover{
    animation-name: blinkRed;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.filtrar:hover{
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.modal{
	/* isto faz o elemento ficar no mesmo lugar mesmo a tela sendo rolada */
	position: fixed;
	top: 50%;
	left: 50%;
	/* o scale(0) faz o elemento ficar ivisível */
	transform: translate(-50%, -50%) scale(0);
	border: 1px solid black;
	border-radius: 10px;
	/* o  z-index faz o elemento ficar sobreposto aos outros*/
	z-index: 10;
	background-color: #D3ECA7;
	/* width: 500px; */
	width: 80%;
	/* height: 60%; */

	
}

.modal.active{
	transform: translate(-50%, -50%) scale(1);
}

.modal-header{
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
	background-color: #A1B57D;
	
}

.modal-header .title{
	font-size: 1.25rem;
	font-weight: bold;
}

.modal-body{
	padding: 10px;
	/* display: flex;
	flex-wrap: wrap; */
	
}

.p-modal{
	color: black;
	font-family: 'Inter', sans-serif;
}

#overlay{
	position: fixed;
	opacity: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	pointer-events: none;
}

#overlay.active{
	opacity: 1;
	pointer-events: all;
}

@keyframes blink{
    from{
        color: grey;
        font-weight: bolder;
        text-shadow: -2px -2px white; 
        font-size: 30px;
    }
    to{
        color: rgb(36, 243, 9);
        font-weight: bolder;
        text-shadow: -2px -2px rgb(219, 243, 5); 
        font-size: 30px;
    }
}

@keyframes blinkRed{
    from{
        color: grey;
        font-weight: bolder;
        text-shadow: -2px -2px white; 
        font-size: 30px;
    }
    to{
        color: rgb(187, 5, 5);
        font-weight: bolder;
        text-shadow: -2px -2px rgb(11, 12, 0); 
        font-size: 30px;
    }
}

@keyframes spin{
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* 
font-family: 'Orbitron', sans-serif;
font-family: 'Teko', sans-serif; 
*/